@media (max-width: 768px) {
    .contacto__text {
        flex-direction: column;
        gap: 1rem;
    }
    .productos__container {
        gap: 0;
    }

   
    .container {
        width: 90%;
    }
    .container .producto img {
        max-width: 254px;
        max-height: 157px;
    }
    .container .producto__content {
        gap: .1rem;
        padding: 0 0 0 1rem;
    }
    .container .producto__content h1 {
        font-size: 22px;
    }
    .container .producto__content p {
        font-size: 14px;
    }
}
@media (max-width: 600px) {
    .header {
        height: 15vh;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem;
    }
    .container {
        width: 99%;
    }
    .contacto {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        
    }
    .contacto__text {
        text-align: center;
    }
    .contacto__logo {
        align-self: center;
    }
}
@media (max-width: 504px) {
    .hero__content--title {
        font-size: 2.5rem;
    }
    .hero__content--subtitle {
        font-size: .9rem;
    }
    
    .productos__container {
        justify-content: space-around;
    }
    .productos__template {
        width: 100%;
        max-width: 200px;
        margin-bottom: 2rem; 
    }
}
@media (max-width: 410px) {

    .header__text {
        width: 100%;
        justify-content: space-around;
    }
    .header__btn {
        width: 160px;
        height: 45px;
        text-align: center;
        line-height: 45px;
    }
    .header__buscador  {
        display: none;
    }
    .header__buscador--min{
        display: block;
    }
}
@media (max-width: 360px) {
    .contacto {
        flex-direction: column;
        padding: 10px;
        align-items: center;
    }
    .contacto__text {
        width: 100%;
        text-align: center;
    }
    .contacto__logo {
        align-self: center;
    }
    .contacto__menu {
        width: 100%;
    }

    .container {
        margin: 2rem auto;
    }
    .producto {
        flex-direction: column;
        gap: 1rem;
    }
    .container .producto img {
        width: 100%;
        max-width: none;
    }
    .container .producto__content {
        padding: 1rem;
        gap: .5rem;
    }
}